/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:focus {
  outline: 2px solid blue;
}

input:focus {
  outline: 2px solid blue;
}
